<h1 class="m-auto" style="color: white; text-align: center;">A THOUGHT FOR FOOD</h1>
   <p style="color: white;" class="fs-5 m-3 p-2">
        In our world, food consumption and food waste have become a major concern. Every
        day tons of food are being thrown are thrown away, from either being spoiled, since food
        has not been consumed, or from other life choices, like eating out or ordering take-out food
        instead, while having food in the fridge. At the same time, consumers are becoming more
        eco-conscious and are looking for more sustainable ways of living in order to reduce waste
        and become more sustainable.
   </p>

    <p style="color: white;" class="fs-5 m-3 p-2" >
        This project aims to develop a web-based recipe book, that allows its users to plan their
        weekly meals, see the prices of recipes and food items and compare the food prices in other
        stores. The usage of this prototype application will reduce the time it takes to
        make a meal plan, the cost of buying food, and help with food consumption and food waste. 
    

    </p>  

